@import "tailwindcss";

@font-face {
  font-family: 'RobotoCondensed';
  src: url('/fonts/RobotoCondensed.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap; /* Optional: improves performance */
}

:root {
  font-family: RobotoCondensed, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --footer-height: 70px;

  --border: #404040; 
  --border-low: #303035; 
  --border-high: #808080; 

  --text: #f0f0f0;
  --text-low: #909090;

  --bg: #29292e;
  --bg-low: #1a1a1a;
  --bg-high: #303030;

  --bg-sidebar: var(--bg-high);
  --bg-player: rgba(40,40,40,0.88);

  --glow: rgba(180, 180, 200, 0.8);

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg-low);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.footer {
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 30px;
    left: 0;
}

.footer .player {
    padding: 8px 24px;
    border-radius: 15px;
    border: 2px solid var(--border-high);
    backdrop-filter: blur(10px) saturate(180%); /* Frosted glass effect */
    box-shadow: 0 0 22px var(--glow);
    width: 95%;
    background-color: var(--bg-player);
    margin: 0px auto 0px auto;
}

.search {
    border-radius: 18px;
    border: 2px solid var(--border);
    width: 95%;
    min-width: 220px;
    background-color: var(--bg-low);
    box-shadow: 0 0 8px var(--glow);
    height: 3rem;
}

.layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-bottom: var(--footer-height);
}

.content {
    width: 100%;
    padding: 1.5rem 2.5rem;
}

.sidebar {
    background-color: var(--bg-sidebar);
    padding: 12px;
    border-right: 3px solid var(--border);
    border-radius: 0px 15px 0px 0px;
    box-shadow: -10px 0 30px var(--glow);
    width: 10%;
    min-width: 200px;
    height: 100vh;
    margin-right: 30px;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.3rem;
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
