@import "tailwindcss";

@font-face {
  font-family: 'RobotoCondensed';
  src: url('/fonts/RobotoCondensed.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap; /* Optional: improves performance */
}

:root {
  font-family: RobotoCondensed, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --footer-height: 60px;
  --border: #404040; 
  --bg: #242424;
  --bg-low: #1a1a1a;
  --bg-high: #303030;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.footer {
    width: 100%;
    height: var(--footer-height);
    background-color: var(--bg-low);
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border-top: 1px solid var(--border);
}

.layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-bottom: var(--footer-height);
}

.content {
    text-align: center;
    width: 100%;
}

.sidebar {
    background-color: var(--bg-low);
    padding: 12px;
    border-right: 2px solid var(--border);
    border-radius: 0px 15px 0px 0px;
    width: 15%;
    min-width: 200px;
    height: 100%;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.3rem;
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
